<div class="contents row">
  <% @properties.each do |property| %>
    <div class="content_post" style="background-image: url(<%=  %>);">
      <p><%=  %></p>
      <span class="name">
        <%=  %>
      </span>
    </div>
  <% end %>
</div>